:root {
  --leftwidth: 58px;
}

* {box-sizing: border-box;}
body { margin: 0; font-family: Roboto, Noto, sans-serif; background-color: #efefef; }

.hidden { display: none; }
table.collapse { border-collapse: collapse; }

div#inventory-choice-div {
  position: absolute; left: 0; top: 0; height: 100vh; width: 100vw; z-index: 10000;
  background-color: #393A38;
  text-align: center;
  padding-top: 15%;
  font-size: 200%;
  color: white;
}
div#inventory-choice-div input[type="submit"] { font-size: 180%; }
div#inventory-choice-div input[type="radio"] { width: 2em; height: 2em; }
div#inventory-choice-div select { font-size: 100%; }

@media all and (orientation:landscape) {
   #map-container { margin-left: var(--leftwidth); height: 100vh; width: calc(60vw - var(--leftwidth)); }
   #map-container.focused { width: calc(40vw - var(--leftwidth)); }
   #map-container.focused #map-div { height: 60vh; width: 100%; }
   #map-container.focused #undermap-div { display: block; height: 40vh;}
   #infos-div { position: absolute; left: 60vw; top: 0; height: 100vh; }
   #infos-div.focused { left: 40vw; width: calc(100% - 40vw); }
}

@media all and (orientation:portrait) {
   #map-container { margin-left: var(--leftwidth); width: calc(100vw - var(--leftwidth)); }
   #map-container #map-div { height: 50vh; width: 100%; }
   #map-container.focused #undermap-div { display: block; }
   #infos-div { margin-left: var(--leftwidth); }
}

div.leaflet-marker-icon { border: 1px solid #666; border-radius: 8px; opacity: 0.8; }
div.icon-blue { background: #216AFF; }
div.icon-orange { background: #FFA500; }
div.icon-green { background: #2ABF2A; }

#left-pane { position: absolute; left: 0; top: 0; height: 100vh; width: var(--leftwidth); background-color: #393A38; }
#layer-icons { margin-top: 10px; text-align: center; line-height: 2em; }
#layer-icons img.pane-icon { cursor: pointer; }
#pane-icons { position: absolute; bottom: 5px; text-align: center; }
#unsync-counter { font-size: 150%; font-weight: bold; margin-bottom: 5px; color: #bebebe; }
#unsync-counter.nonempty { color: red; }
img.pane-icon { width: 3vw; min-width: 35px; }
img#sync-unsync { cursor: pointer; }

div#debug-pane {
  position: fixed;
  bottom: 0;
  height: 15%;
  display: none;
  font-size: 80%;
  width: 100%;
  background-color: white;
  z-index: 10001; /* 10000 is the initial screen */
  padding: 0.5em;
  overflow: scroll;
}
div#debug-buttons { position: fixed; right: 1.2em; }
img#debug-reload { width: 26px; opacity: 0.6; margin: 7px; cursor: pointer; }

#map-div { height: 100%; width: 100%; }
#undermap-div { display: none; padding: 0.6em; }
#undermap-back { float: right; }
button#gemeinde-back img { height: 2.5em; width: 2.5em; }

#progress { position: absolute; left: 6vw; bottom: 10vw; width: 48vw; height: 2.5vw; border: 1px solid gray; z-index: 1000; opacity: 0.8; background-color: white; display: none;}

#infos-div { padding: 0.6em; vertical-align: top;}
#inventory-title { font-size: 110%; font-weight: bold; }
#error { display: none; margin: 1em 0; padding: 1em 0.5em; color: red; border: 1px solid red; }
#appversion { position: absolute; z-index: 10000; bottom: 0; right: 0; padding: 0.5em; font-size: 80%; color: #999; }

table#plot-data { display: none; width: 100%; border: 1px solid #aaa; margin: 0.5em 0; }
table#plot-data th { text-align: left; }

#obs-data { display: none; }
#obs-input { display: none; overflow-x: hidden; }
form#allsteps, form.input-form { display: none; }
#year-buttons { text-align: right; }
#year-buttons button { font-size: 18px; padding: 2px 4px; }

#step0 {
    display: none;
    text-align: center;
    font-size: 24px;
    margin-top: 20%;
}
#input-start, #input-end { font-size: 18px; }
div.cancel { float: right;  margin-top: 1em; }
div.weiter { text-align: center; margin-top: 1em; }
div.weiter button, div.cancel button { padding: 4px 3em; vertical-align: bottom; }
div.weiter button.weiter img, div.cancel button.cancel img { height: 3em; width: 4em; }
div.weiter button.newtree img { height: 3em; width: 4em; }
span.bigplus { font-size: 250%; line-height: 0.8em; }
img.form-help { cursor: pointer; width: 1.2em; }
#allstepsselect { font-size: 22px; width: 100%; margin-bottom: 5px; }

table.form-table { }
.step1-input { font-size: 1.3em; margin: 0.5em 0 0.5em 3em; }
.step1-input label { padding: 2px 5px; }
#step1-verification #id_remarks { height: 4em; }
#step6 .form-table { width: 100%; }
.input-form input, .input-form textarea, .input-form select { font-size: 120%; max-width: 100%; }
.input-form input[type="number"] { max-width: 5em; }
.input-form input#id_exact_long, .input-form input#id_exact_lat { max-width: 7em; }
.input-form th { text-align: left; vertical-align: top; padding-top: 0.4em; }
.input-form textarea { width: 100%; }
.input-form img.locked-input { height: 1.2em; width: 1.2em; }
.input-form ul { margin: 0; padding: 0; list-style-type: none; }
.input-form ul li { float: left; min-width: 24%; }
.input-form ul li label {
    display: inline-block; padding: 0.4em; margin: 3px;
    border: 1px solid #aaa; border-radius: 0.8em;
    background: linear-gradient(rgb(224,224,224),rgb(200,200,200));
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #444;
}
.input-form input[type="radio"]:checked + label {
    background: #396b9e linear-gradient(#5f9cc5, #396b9e) repeat scroll 0 0;
    color: white;
    font-weight: bold;
}

span.help-text { font-size: small; font-style: italic; }
div.warning { color: red; display: none; }
#id_stand_devel_stage { width: 100%; }
table#regenobs-table thead th { text-align: center; }
table#regenobs-table tbody td { padding: 0.5em 0; text-align: center; }
table#regenobs-table select { font-size: 90%; max-width: 110px; }
form#steptree #id_remarks { height: 3em; }
form#steptree #id_vita { width: 100%; }
form#stepfinal { text-align: center; }

table#trees_summary th { text-align: left; border: 1px solid #ccc; padding: 4px; }
table#trees_summary td { border: 1px solid #ccc; padding: 4px; }
table#trees_summary td:nth-child(1) { text-align: right; }
table#trees_summary td.essence { text-align: right; }
table#trees_summary td.diameter { text-align: right; }
table#trees_summary tr:hover { cursor: pointer; background-color: #aaa; }
table#trees_summary tr.new td { background-color: #c0ff73; }

#currentLong, #currentLat, #currentAlt { display: inline-block; }
button#keepthis { margin: 0 1em; padding: 0.5em; font-size: 100%; font-weight: bold; }
label[for="id_sealevel"] { white-space: nowrap; }

tr.separator { background-color: gray; height: 4px; }
input#input-end { padding: 4px 3em; }

div.caliper {
  text-align: center;
  padding: 1em;
  font-size: small;
  font-style: italic;
}

button { padding: 0; font-family: Roboto, Noto, sans-serif; }
button:hover { cursor: pointer; }
button.current { font-weight: bold; }
button.new { color: red; }
button.editing { color: orange; }

#obs-infos-general-table td, #obs-infos-trees-table td {
  vertical-align: top;
  padding: 2px;
}
#obs-infos-trees-table tr:hover { background-color: #ccc; cursor: pointer; }
#obs-infos-trees-table tr.current td {
  background-color: #EAC6C6;
}

ul.tabs {
  list-style: none;
  padding: 0;
  margin: 0.25em 0;
}
ul.tabs li {
  display: inline;
  padding: 5px;
  margin-right: 2px;
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul.tabs li.active { font-weight: bold; }

ul.tabs li:hover {
  cursor: pointer;
}
div.tab-child {
  border: 1px solid gray;
  display: none;
  overflow: auto;
}

.leaflet-div-icon {
  border: none;
  background: none;
}
.leaflet-div-icon > * {
  position: absolute;
  left: 0;
  right: 0;
}
.leaflet-div-icon .treenumb {
  text-align: center;
  font-size: 14px;
}

table.border { border-collapse: collapse; }
table.border td, table.border th { border: 1px solid black; padding: 4px; text-align: center; }
table.radius td:first-child { text-align: left; width: 40%; }

/* Modal styles */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 34px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#loading { text-align: center; font-size: large; }
