<tbody>
{% for line in data %}
    <tr><td class="{% ifchanged line.entity %}normal{% else %}duplicate{% endifchanged %}">
        <a href="{{ line.entity_url }}">{{ line.entity }}</a></td>
        <td>{{ line.protocol.year }}</td>
        <td class="right">{{ line.plot_numb }}</td>
        <td class="right">{{ line.tree_numb_ha|floatformat:2 }}</td>
        <td class="right">{{ line.vol_vd_ha|floatformat:2 }}</td>
        <td class="right">{{ line.surf_terr_ha|floatformat:2 }}</td>
        <td class="right">{{ line.diam_mean|floatformat:2 }}</td>
        <td class="right">{{ line.vol_mean|floatformat:2 }}</td>
        <td class="right">{{ line.surf_terr_tree_mean|floatformat:2 }}</td>
        <td class="right">{{ line.surf_forest|floatformat:2 }}</td>
    </tr>
{% endfor %}
</tbody>
