<form method="POST" hx-post="{% url 'plotobs_planned_edit' plotobsplanned.pk %}" hx-select="#planned-details" hx-target="#planned-details">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Modifier</button>
    <button hx-get="{% url 'plotobs_planned_detail' plotobsplanned.pk %}" hx-select="#planned-details" hx-target="#planned-details">Annuler</button>
</form>
