{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaksbr }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Laisser vide les champs qu'il ne faut pas modifier.</p>
<form id="multi-edit" method="post" hx-post="{% url 'plotobs_planned_edit_multi' protocol.pk %}"
      hx-target="#multi-edit-div">
    {% csrf_token %}
    {{ empty_form.as_p }}
    <input type="hidden" name="point_ids" value="">
    <button class="btn" type="submit">Modifier tous les points sélectionnés</button>
</form>
