{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
  <style type="text/css">
    table#main { border-collapse: collapse; }
    table#main td, table#main th { border: 1px solid #ccc; vertical-align: top; padding: 6px; }
    table#main th { background-color: #ccc; }
    span.comment { font-size: small; font-style: italic; color: #555; }
  </style>
{% endblock %}

{% block content %}
<p>Voici les tables de base de données utilisées dans ce projet :</p>

<table id="main">
    <tr><th>Tables de base de données</th></tr>
{% for table in main_tables %}
    <tr><td><a href="{% url 'view-def' table.oid %}">{{ table.name }}</a><br>
            <span class="comment">{{ table.comment|default_if_none:'' }}</span>
        </td>
    </tr>
{% endfor %}
</table>

<table id="main">
    <tr><th>Tables de correspondances</th></tr>
{% for table in lookup_tables %}
    <tr><td><a href="{% url 'view-def' table.oid %}">{{ table.name }}</a><br>
            <span class="comment">{{ table.comment|default_if_none:'' }}</span>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
