{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/highlight.min.css' %}">
  <script type="text/javascript" src="{% static 'js/highlight.pack.js' %}"></script>
  <style type="text/css">
    table.view_def th { text-align: right; vertical-align: top; }
    table.view_def th, table.view_def td { padding: 5px; }
    pre { margin: 4px }
    .hljs-comment { white-space: pre-wrap; }
  </style>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<h2>{% blocktrans %}Définition de {{ obj_type }}{% endblocktrans %}</h2>
<table class="view_def">
  <tr><th>Nom</th><td>{{ name }}</td></tr>
  {% if comment %}<tr><th>Commentaire</th><td>{{ comment }}</td></tr>{% endif %}
  <tr>
    <th>Définition</th>
    <td><pre><code>{{ definition|safe }}</code></pre></td>
  </tr>
</table>
{% endblock %}
