* {
  box-sizing: border-box;
}

body {
  font-family: Verdana,Geneva,sans-serif;
  margin: 0;
  background-color: #DDD;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}
a:hover {
  color: black;
  border-bottom: 1px solid gray;
}

a.icon {
  border: 0;
}

summary {
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none;
}

.btn {
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: none;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  border-bottom: none;
  background-color: #ddd;
}
.notice {
  font-size: small;
  font-style: italic;
}

div.icons {
    float: right;
    margin-top: 0.1em;
}

div.flex-container { display: flex; }

img.info {
  width: 16px;
}

div#global {
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
  width: 80%;
  background-color: white;
}

div#main {
    padding: 0 18px;
}

div#logo {
  float: right;
  margin: 6px;
}

div#header_bar {
  color: white;
  background-color: white;
  background-image: url("../img/menu_back.jpg");
  background-repeat: no-repeat;
}
div#header_bar a {
  color: white;
}

div#footer {
    background-color: #E3E3E3;
    clear: both;
    font-size: 80%;
    font-style: italic;
    margin-top: 1em;
    padding: 8px;
}

div#loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  padding: 3em;
  text-align: center;
  border-radius: 10px;
  border: 5px solid gray;
  z-index: 10000;
}

ul#main_menu {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}
div#header_bar li {
  display: inline;
  padding: 1em 0.5em;
}
div#header_bar li:hover, div#header_bar li:hover a {
  color: #333;
  background-color: white;
  opacity: 0.85;
}

ul.messages, ul.errorlist {
  list-style:none outside none;
  padding-left: 0;
  margin: 1em 0;
}
ul.errorlist {
  margin: 2px;
}

ul.messages li, p.errors {
  border:1px solid #FFA500;
  padding: 0.5em 1em 0.5em 3em;
  font-weight: bold;
}

ul.messages li.error, ul.errorlist li, p.errors {
  background-color: #FF8080;
}
ul.errorlist li {
  padding: 2px;
  font-size: small;
}

div.authenticated {
  text-align: right;
  font-size: x-small;
  font-style: italic;
  padding: 5px;
  margin-right: 3em;
}

div.container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

ul.tabs {
    clear: both;
    list-style: outside none none;
    margin: 0;
    text-align: right;
}
ul.tabs li, ul.tabs li {
    display: inline-block;
    background-color: #white;
    border: 1px solid #666666;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-color: transparent;
    color: #ffffff;
    list-style: outside none none;
    margin: 5px 0 0 5px;
    padding: 4px 1.2em 3px;
}
ul.tabs li a { color: #888; }
ul.tabs li.active, ul.tabs li.active a {
    background-color: #eee;
    border-bottom: medium none white !important;
    color: black;
    cursor: default;
}

table.list {
  border: thin solid #60D6A9;
  border-collapse: collapse;
  font-size: 80%;
  clear: left;
}
table.list th, table.list td {
  border: thin solid #60D6A9;
  padding: 5px;
}
table.list th {
  border: thin solid #999999;
  background-color: #EEEEEE;
}
td.right {
  text-align:right;
}
td.duplicate { visibility: collapse; border-top-style: hidden !important; }
tr.draft td { font-style: italic; background-color: #ddd; }

table.numbers {
  border: thin solid #6495ed;
  border-collapse: collapse;
  font-size: 80%;
}
table.numbers th, table.numbers td {
  border: thin solid #6495ed;
  padding: 5px;
}
table.numbers th {
  cursor: pointer;
  background-color: #eee;
  position: sticky;
  top: 0;
}
table.numbers td:not(:first-child) {
    text-align: right;
}

span.num_choices {
  font-size: 11px;
}
img.clear_choices {
  width: 10px;
  display: none;
}
div.perim_choice.selected > details > summary {
  color: red;
}

div.dbview {
    color: gray;
    font-family: monospace;
    font-size: 70%;
    margin: 3px;
}

div.view-details {
  display: none;
  font-size: 80%;
  margin-bottom: 1em;
}

.custom-icon { border: 1px solid #666; border-radius: 8px; opacity: 0.8 !important; }
.icon-blue { background: #216AFF; }
.icon-blue.selected { background: #EC21FF; }

#id_ser_num, #id_div_num { max-width: 5em; }
