{% extends "base.html" %}

{% block extra_head %}
<!--{ include "map_headers.html" }-->

<style type="text/css">
div.selblock { float:left; border: 1px solid #999; clear:left; width: 22%; margin: 4px; }
div.selblock > div { padding: 4px; }
.blocktitle { background-color: #eee; }
summary.blocktitle { padding: 4px; }
summary { font-size: initial; }
details { font-size: smaller; }
div#main_column { margin-left: 26%; }
div#refresh { text-align: center; }
div#server_error { margin: 0.6em 0; }
div#datamain { border: 1px solid #999; margin: 0; padding: 4px; }
div#mapmain { border: 1px solid #999; margin: 0; padding: 4px; display: none; }
div#map { width: 500; height: 500; }
th.aggr { background-color: #ffc8c8 !important; }
input.choice_filter { border: 1px solid #ccc; margin-left: 2.4em; font-size: 10px; width: 12em; }
</style>

<script type="text/javascript">
var views = JSON.parse('{{ views|escapejs }}');
</script>

<script src="{% static 'js/tablesorter/js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/tablesorter/js/jquery.tablesorter.widgets.min.js' %}"></script>
<script src="{% static 'js/data.js' %}"></script>
{% endblock %}

{% block content %}
<form id="dataform" action="{% url 'data_grid' %}">
<div id="where" class="selblock">
  <div class="blocktitle">
      Perimètre <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Choix des périmètres sur lesquels s'appliquera l'analyse de données."></div>
  </div>
  <div class="perim_choice">
      <details>
        <summary><b>Communes</b>
            <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Communes politiques."></div>
            <span class="num_choices"></span>
            <img class="clear_choices" src="{% static 'img/clear.png' %}" title="Effacer">
        </summary>
        <div class="checkboxes">
          <input class="choice_filter" type="text"><br>
          {% for mun in municipalities %}
          <div class="checkbox">
              <input id="mun_{{ mun.pk }}" type="checkbox" name="mun" value="{{ mun.pk }}">
              <label for="mun_{{ mun.pk }}">{{ mun.name }}</label>
          </div>
          {% endfor %}
        </div>
      </details>
  </div>
  <div class="perim_choice">
      <details>
        <summary><b>Arrondissements</b>
            <span class="num_choices"></span>
            <img class="clear_choices" src="{% static 'img/clear.png' %}" title="Effacer">
        </summary>
        <div class="checkboxes">
          <input class="choice_filter" type="text"><br>
          {% for arr in arronds %}
          <div class="checkbox">
              <input id="arr_{{ arr.pk }}" type="checkbox" name="arr" value="{{ arr.pk }}">
              <label for="arr_{{ arr.pk }}">{{ arr.nom }}</label>
          </div>
          {% endfor %}
        </div>
      </details>
  </div>
  <div class="perim_choice">
      <details>
        <summary><b>Propriétaires</b>
            <span class="num_choices"></span>
            <img class="clear_choices" src="{% static 'img/clear.png' %}" title="Effacer">
        </summary>
        <div class="checkboxes">
          <input class="choice_filter" type="text"><br>
          {% for own in owners %}
          <div class="checkbox">
              <input id="own_{{ own.pk }}" type="checkbox" name="own" value="{{ own.pk }}">
              <label for="own_{{ own.pk }}">{{ own.title }}</label>
          </div>
          {% endfor %}
        </div>
      </details>
  </div>
</div>

<div id="what" class="selblock">
  <div class="blocktitle">
      Donnée à analyser
      <div class="icons">
          <img class="info" src="{{ STATIC_URL }}img/info.png" title="Choix de la donnée à calculer et à afficher.">
      </div>
  </div>

  <div>
      <details>
         <summary><b>Production forest.</b>
            <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="..."></div>
         </summary>
         <div>
            <div class="input_choice">
                <input id="Nbtiges16" type="radio" name="bio" value="Nbtiges16">
                <label for="Nbtiges16">Nombre de tiges, volumes, surfaces (&gt;16)</label>
            </div>
            <div class="input_choice">
                <input id="Nbtiges9" type="radio" name="bio" value="Nbtiges9">
                <label for="Nbtiges9">Nombre de tiges, volumes, surfaces (&gt;9)</label>
            </div>
            <div class="input_choice">
                <input id="BoisMort" type="radio" name="bio" value="BoisMort">
                <label for="BoisMort">Bois mort</label>
            </div>
            <div class="input_choice">
                <input id="Myrtilles" type="radio" name="bio" value="Myrtilles">
                <label for="Myrtilles">Myrtilles</label>
            </div>
            <div class="input_choice">
                <input id="Cerf" type="radio" name="bio" value="Cerf">
                <label for="Cerf">Cerf</label>
            </div>
         </div>
      </details>
  </div>
</div>

<div class="selblock">
  <details>
    <summary class="blocktitle">
        Groupement
        <div class="icons"><img class="info" src="{{ STATIC_URL }}img/info.png" title="Critères selon lesquels les résultats seront groupés."></div>
    </summary>
    <div id="grouping">
        <div>
            <input id="cb_municipality" type="checkbox" name="aggr" value="municip-owner">
            <label for="cb_municipality">Commune/Propriétaire</label>
        </div>
        <div id="grouping-optional"></div>
        <div>
            <input id="cb_year" type="radio" name="yaggr" value="protocol__year" checked>
            <label for="cb_year">Année</label>
        </div>
    </div>
  </details>
</div>
</form>

<div id="main_column">

    <div class="view-details" id="details-Nbtiges16"><b>Nombre de tiges (⌀ > 16cm) :</b> calcul des arbres échantillonnés, + volumes et surfaces.
    </div>
    <div class="view-details" id="details-Nbtiges9"><b>Nombre de tiges (⌀ > 9cm) :</b> calcul des arbres échantillonnés, + volumes et surfaces.
    </div>
    <div class="view-details" id="details-BoisMort"><b>Bois mort :</b> ...
    </div>
    <div class="view-details" id="details-Myrtilles"><b>Myrtilles :</b> ...
    </div>
    <div class="view-details" id="details-Cerf"><b>Cerf :</b> ...
    </div>

    <div id="refresh"><input type="button" value="Actualiser les données"> <img id="wait" class="hidden" src="{{ STATIC_URL }}img/indicator.gif"></div>
    <div id="server_error" class="error hidden">Votre requête a malheureusement abouti à une erreur de serveur.</div>
    <div id="client_error" class="error hidden"></div>

    <div id="tabs" style="display:none">
      <ul class="tabs">
        <li id="data-tab" class="tab active">Données</li>
        <!--<li id="map-tab" class="tab">Carte</li>-->
      </ul>
    </div>

    <div id="datamain">
        <table id="datatable" class="numbers">
          <thead><tr><td>Données...</td></tr></thead>
          <tbody></tbody>
        </table>
    </div>
    <div id="mapmain">
        <div id="map"></div>
        <ul id="cols" class="nobullet"></ul>
    </div>
    <div class="icons">
        <a href="?format=csv" id="csv-export" class="icon"><img src="{{ STATIC_URL }}img/csv.png" alt="CSV logo" title="Exporter en CSV"></a>
    </div>
</div>

{% endblock %}
