{% extends "base.html" %}

{% block content %}
<ul>
  <li><a href="/manuel/">Guide d'utilisation des inventaires forestiers</a></li>
  <li><a href="{% url 'protocoles' %}">Protocoles d'inventaires</a></li>
  <li><a href="{% url 'fbase-comp' %}">Outil de comparaison de fichiers texte</a></li>
</ul>

<h2>Introspection de la base de données</h2>
<ul>
    <li><a href="{% url 'table-list' %}">Tables de la base de données</a></li>
    <li><a href="{% url 'view-list' %}">Vues de la base de données</a></li>
</ul>
<ul>
    <li><a href="{% url 'import_topap' %}">Importer le fichier Shape Topap</a></li>
</ul>

<h2>Documents</h2>
<ul>
{% for doc in docs %}
    <li><a href="{{ MEDIA_URL }}{{ doc.doc }}">{{ doc.title }}</a> <small>({{ doc.fformat }}, {{ doc.date }})</small></li>
{% endfor %}
</ul>

<h2>Définitions</h2>
<p><a href="{% url 'essences' %}">Liste des essences</a></p>
<p><i>Voir aussi: <a href="https://www.lfi.ch/glossar/glossar-fr.php">Glossaire de l'IFN</a></i></p>
<!--dl>
    <dt>...</dt>
    <dd>...</dd>
</dl-->
{% endblock %}
