{% extends "base.html" %}
{% load display %}

{% block extra_head %}
{% include "map_headers.html" %}

<style type="text/css">
div#map { width: 320px; height: 320px; float: right; margin-bottom: 0.5em; }
div#plotobs_container { display:none; }
div.map_container { width: 50%; float: right; }
div#map_details { width: 100%; height: 500px; display: inline-block; }
div.map_help { clear: right; float: right; font-size: x-small; font-style: italic; }
</style>

<script>
{% if mun_geom %}
var munVector = JSON.parse('{{ mun_geom|as_geojson|safe }}');
{% else %}
var munVector = null;
{% endif %}
var year_layers = {};

function onPlotClick(data) {
    var plotobsContainer = document.querySelector('#plotobs_container');
    var targetURL = data.layer.feature.properties.url;
    // A feature has been selected, let's display some details about it
    plotobsContainer.style.display = 'block';
    fetch(targetURL, {headers: {'X-Partial': 'true'}}).then(resp => resp.text()
        ).then(html => {
            plotobsContainer.innerHTML = html;
            var gdata = JSON.parse(document.getElementById('geojson-data').textContent);
            var map_det = new GeoMap('map_details');
            map_det.addLayerFromGeoJSON(gdata, true);
        });
}

document.addEventListener("DOMContentLoaded", function(event) {
    var map = new GeoMap('map');
    var center = {{ center|coords_to_js }};
    if (munVector) {
        map.addLayerFromGeoJSON(munVector, true);
    }
    yearBoxes = document.querySelectorAll('#ksp_table input[type=checkbox]');
    yearBoxes.forEach(box => box.addEventListener('change', function (ev) {
        if (this.checked == true) {
            map.addLayerFromURL(this.dataset.src, {clustered: false, clickHandler: onPlotClick}
                ).then(layer => year_layers[this.id] = layer);
        } else {
            map.hideLayer(year_layers[this.id]);
        }
    }));
    // If plotobs id in querystring, show it.
    var qs = document.URL.split('?')[1];
    if (qs != undefined) {
        var pk = qs.split('=')[1];
        data = {layer: {feature: {properties: {url: "{% url 'plotobs_detail' 22 %}".replace('22', pk)}}}};
        onPlotClick(data);
    }

});

</script>
{% endblock %}

{% block content %}

<h2>{{ title }}</h2>

<div id="map"></div>
<div class="map_help">
    <!--Cliquez sur un point précis pour afficher des détails-->
    {% if entity_type == 'owner' %}Note: le périmètre n'est qu'une approximation basée sur l’emplacement des points mesurés{% endif %}
</div>

<table id="ksp_table" class="list">
<thead><tr><th>Année</th><th>Nombre<br>de placettes</th><td></td><td></td></tr></thead>
<tbody>
{% for data in plot_obs_by_year %}
<tr><td>{{ data.protocol__year }}</td><td>{{ data.id__count }}</td>
    <td><input type="checkbox" id="cb_{{ data.protocol__year }}"
               data-src="{{ plot_obs_url }}?year={{ data.protocol__year }}&format=json">
        <label for="cb_{{ data.protocol__year }}">Afficher sur la carte</label>
    </td>
    <td>
        <a href="{% url 'entity-fbase' entity_type entity.pk data.protocol__year %}">
        <img src="{% static 'img/fbase.svg' %}" width="30" title="Exporter les points au format Fbase">
        </a>
        {% if entity_type == 'owner' %}
        / <a href="{% url 'owner_analysis' entity.pk data.protocol__year %}">Tableau récap</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% if planned_count %}
<tr>
    <td>En préparation</td><td>{{ planned_count }}</td>
    <td><input type="checkbox" id="cb_planned"
               data-src="{{ plot_obs_url }}?year=planned&format=json">
        <label for="cb_planned">Afficher sur la carte</label>
    </td>
    <td>-</td>
</tr>
{% endif %}

<tbody>
</table>

<br clear="right">

<div id="plotobs_container"></div>

{% endblock %}
