{% extends "base.html" %}

{% block extra_head %}
<style>
    .fbase-diff { font-family: monospace; margin-bottom: 1em; border: 1px solid #ddd; padding: 4px; }
    span.diff { color: red; }
</style>
{% endblock %}

{% block content %}

<h2>Comparaison de fichiers texte</h2>

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit">Comparer</button>
    </div>
</form>

{% if result %}
    <p>
    {{ result.identical }} lignes sont identiques (non affichées).<br>
    {{ result.different|length }} lignes sont différentes.<br>
    {% if result.ignored %}1 fichier comprend {{ result.ignored }} plus de lignes que l'autre.{% endif %}
    </p>

    {% for diff in result.different %}
        <p class="fbase-diff">
            {{ diff.0|safe }}<br>
            {{ diff.1|safe }}
        </p>
    {% endfor %}
{% endif %}

{% endblock %}
