{% extends "base.html" %}

{% block extra_head %}
<style>
span.expander { cursor: pointer; font-weight: bold; }
tbody:not(.expanded) > tr:not(.title) { display: none; }
tbody:not(.expanded) span.expander::before { content: '+'; }
tbody.expanded span.expander::before { content: '—'; }
tr.wait td { text-align: center; }
.lastli { list-style: none; margin-top: 0.4em; }
</style>
<script>
function toggleBody(span) {
    const tbody = span.closest('tbody');
    tbody.classList.toggle('expanded');
    if (tbody.classList.contains('unloaded')) {
        // Load dynamically
        fetch(tbody.dataset.url).then(response => {
            return response.text().then(text => {
                tbody.querySelector('tr.wait').remove();
                tbody.insertAdjacentHTML('beforeend', text);
            });
        });
        tbody.classList.remove('unloaded');
    }
}

document.addEventListener("DOMContentLoaded", function(){
    const expanders = document.querySelectorAll("span.expander");
    Array.from(expanders).forEach(span => {
        span.addEventListener('click', function (ev) { toggleBody(span); });
    });
});
</script>
{% endblock %}

{% block content %}

<div>
    <h2>Inventaires {{ cur_year }}</h2>
    <ul>
    {% for inv in inventaires %}
        <li><a href="{% url 'protocole' inv.pk %}">{{ inv }}</a></li>
    {% endfor %}
    {% if perms.inventory.add_protocol %}
        <li class="lastli"><a class="btn" href="{% url 'protocole_addfuture' %}">Nouvel inventaire…</a></li>
    {% endif %}
    </ul>
</div>

<div class="tabs">
    <ul class="tabs">
      <li {% if col1_name == "Commune" %}class="active"{% endif %}>
          <a href="{% url 'home'  %}?by=municipality">Par commune</a></li>
      <li {% if col1_name == "Propriétaire" %}class="active"{% endif %}>
          <a href="{% url 'home'  %}?by=owner">Par propriétaire</a></li>
    </ul>
</div>

<table class="numbers">
    <thead><tr>
        <th>{{ col1_name }}
            <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="{{ col1_descr }}"></div>
        </th>
        <th>Année</th>
        <th>Nombre de placettes
            <div class="icons"><img class="info" src="{% static 'img/info.png' %}" title="Nombre de placettes par propriétaire ou commune politique"></div>
        </th>
        <th>Nombre de tiges (≥16cm)/hectare
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Nombre d'arbres d'un peuplement, au total ou par unité de surface, en général nombre de tiges par hectare.">
                <img class="info" src="{% static 'img/methode.png' %}" title="Somme des arbres (tiges) par hectare ayant un diamètre plus grand que 16 cm.">
            </div>
        </th>
        <th>Volume (m<sup>3</sup>) tarif vaudois/hectare
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Volume de bois sur pied d'une surface donnée (matériel sur pied), basé sur le tarif vaudois.">
                <img class="info" src="{% static 'img/methode.png' %}" title="Fonction: ksp_vd_tarif_vaudois_fonction (-0.033804 - (0.010468*diamètre) + (0.001184*diamètre*diamètre)">
            </div>
        </th>
        <th>Surface terrière (cm<sup>2</sup>)/hectare
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Surface de la section transversale d'un arbre à 1.3 m de hauteur (emplacement de la mesure du DHP), resp. total des sections transversales de tous les arbres d'un peuplement.">
                <img class="info" src="{% static 'img/methode.png' %}" title="Fonction: ksp_vd_surface_terriere (pi() * (diamètre*diamètre) / 4)">
            </div>
        </th>
        <th>Diamètre moyen (cm)
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Moyenne des diamètres à hauteur de poitrine de tous les arbres mesurés d'un échantillon.">
                <img class="info" src="{% static 'img/methode.png' %}" title="Fonction: moyenne(tree.diameter)">
            </div>
        </th>
        <th>Volume de l'arbre moyen (m<sup>3</sup>)
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Volume de la moyenne des diamètres à hauteur de poitrine de tous les arbres mesurés d'un échantillon.">
                <img class="info" src="{% static 'img/methode.png' %}" title="Idem Volume">
            </div>
        </th>
        <th>Surface terrière de l'arbre moyen (cm<sup>2</sup>)
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Surface terrière de la moyenne des diamètres à hauteur de poitrine de tous les arbres mesurés d'un échantillon.">
                <img class="info" src="{% static 'img/methode.png' %}" title="Idem Surface terrière">
            </div>
        </th>
        <th>Surface forestière théorique
            <div class="icons">
                <img class="info" src="{% static 'img/info.png' %}" title="Ensemble de toutes les surfaces qui sont désignées comme forêt selon la définition de la DGNP.">
            </div>
        </th>
    </tr></thead>
{% if view_by == 'owner' %}
    {% for entity in entities %}
        <tbody class="dynamic unloaded" data-url="{% url 'entity-data' entity.pk %}">
            <tr class="title"><td colspan="10"><span class="expander"> {{ entity }}</span></td></tr>
            <tr class="wait"><td colspan="10"><img src="{% static 'img/indicator.gif' %}"></td></tr>
        </tbody>
    {% endfor %}
{% else %}
    <tbody class="expanded">
    {% for line in data %}
    <tr><td class="{% ifchanged line.entity %}normal{% else %}duplicate{% endifchanged %}">
        <a href="{{ line.entity_url }}">{{ line.entity }}</a></td>
        <td>{{ line.protocol.year }}</td>
        <td class="right">{{ line.plot_numb }}</td>
        <td class="right">{{ line.tree_numb_ha|floatformat:2 }}</td>
        <td class="right">{{ line.vol_vd_ha|floatformat:2 }}</td>
        <td class="right">{{ line.surf_terr_ha|floatformat:2 }}</td>
        <td class="right">{{ line.diam_mean|floatformat:2 }}</td>
        <td class="right">{{ line.vol_mean|floatformat:2 }}</td>
        <td class="right">{{ line.surf_terr_tree_mean|floatformat:2 }}</td>
        <td class="right">{{ line.surf_forest|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
{% endif %}
</table>
<div class="dbview">[data based on {{ metadata.db_table }}]</div>

{% endblock %}
