{% extends "base.html" %}
{% load display %}

{% block extra_head %}
<style>
#data { font-family: monospace; }
#data td, #data th { text-align: right; padding-right: 0.7em; }
#data hr { border: thin dashed gray; }
</style>
{% endblock %}

{% block content %}

<h2>Analyse pour le propriétaire {{ owner }}</h2>

<p>
    Année: {{ annee }}<br>
    Clé: Surf totale<br>
    Stat: {{ surface }} HA ({{ placettes }} Plac)
</p>
<table id="data">
<thead>
    <tr>
        <th>diam---</th>{% for spec in species.values %}<th>{{ spec }}</th>{% endfor %}
        <th>R/HA</th><th>F/HA</th><th>T/HA</th>
        <th>R-ABS</th><th>F-ABS</th><th>T-ABS</th><th>%R</th><th>%F</th><th>%T</th>
    </tr>
</thead>
<tbody>
    <tr><td colspan="{{ species|length|add:10 }}"><hr></td></tr>
{% for dclass, values in lines.items %}
    {% if dclass in sep_before %}
        <tr><td colspan="{{ species|length|add:10 }}"><hr></td></tr>
    {% endif %}
    <tr><th>{{ dclass }}</th>
    {% for spec, val in values.items %}
        {% if dclass == 'G>=10' %}<td>{{ val|stat_value:2 }}</td>{% else %}<td>{{ val|stat_value }}</td>{% endif %}
    {% endfor %}
{% endfor %}
    <tr><td colspan="{{ species|length|add:10 }}"><hr></td></tr>
</tbody>
</table>
{% endblock %}
