{% load display l10n %}

{% for otherobs in siblings %}
    <a href="{{ otherobs.get_absolute_url }}">{{ otherobs.year }}</a>
{% endfor %}

<div id="plot_details">
  <h3><a href="{{ plotobs.plot.get_absolute_url }}">{{ plotobs.plot }}</a> - {{ plotobs.year }}</h3>

  <div class="map_container">
    <div id="map_details"></div>
    <div class="coordinates">
        <pre>{{ center.coords|swiss_rounded }}</pre>
    </div>
  </div>

  <table class="properties">
    {% for name, prop in properties.items %}
      {% if name not in hidden_props %}
      <tr><th>{{ name }}:</th>
          <td>{% if name == "Gemeinde" %}<a href="{% url 'gemeinde' gemeinde.pk %}">{{ prop|display_value }}</a>
          {% else %}{{ prop|display_value }}{% endif %}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>

  <h3>Arbres</h3>
  <table class="properties">
    <tbody>
    {% for tree in treeobs %}
    <tr>
        <th style="text-align: left;">{{ tree.spec }}</th>
        <td>{{ tree.diameter }}</td>
        {% if user.is_staff %}<td><a href="{% url 'admin:inventory_tree_change' tree.pk %}"><img src="{% static 'img/edit.png' %}" width="16"></a></td>{% endif %}
    </tr>
    {% empty %}
    <tr><td>-</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{{ geojson|json_script:"geojson-data" }}
