{% extends "base.html" %}
{% load display %}

{% block extra_head %}
<style>
table.list { width: 100%; }
</style>
{% endblock %}

{% block content %}
<h2>Liste des protocoles d'inventaire</h2>

<p style="text-align: right;">
    Ajouter un inventaire… <a href="{% url 'protocole_addfuture' %}">à venir</a> ou <a href="{% url 'protocole_addpassed' %}">passé</a>.
</p>

<div class="tabs">
    {% url 'protocoles' as prot %}
    {% url 'protocoles_by_owner' as prot_by_owner %}
    <ul class="tabs">
      <li {% if request.path == prot %}class="active"{% endif %}>
          <a href="{{ prot }}">Par année</a></li>
      <li {% if request.path == prot_by_owner %}class="active"{% endif %}>
          <a href="{{ prot_by_owner }}">Par propriétaire</a></li>
    </ul>
</div>

<table class="list">
  <tr><th>Année</th><th>Fichier</th><th>Propriétaires</th><th>Points importés</th></tr>
{% for protocol in object_list %}
  <tr class="{{ protocol.draft|yesno:'draft,' }}"><td>{{ protocol.year }}</td>
      <td><a href="{{ MEDIA_URL }}{{ protocol.pfile }}">{{ protocol.pfile|basename }}</a></td>
      <td>{% for owner in protocol.owners.all %}{{ owner }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
      <td>{{ protocol.plotobs__count }}</td>
      <td><a href="{% url 'protocole_edit' protocol.pk %}"><img src="{{ STATIC_URL }}img/edit.png" width="20"></a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
