{% extends "base.html" %}

{% block extra_head %}
{% include "map_headers.html" %}
<style>
.flex-child { flex-basis: 0; flex-grow: 1; }  /* Equal widths */
div.owner { flex: 1; margin-left: 1.5em; }
ul.owner { column-width: 180px; }
#id_owner { max-width: 15em; }
div#map { width: 100%; height: 500px; resize: vertical; }
div#map-display { position: absolute; bottom: 1.4em; right: 1em; z-index: 1000; background-color: white; padding: 1em; border-radius: 8px; }
span.owner { position: fixed; top: -1.4em; background-color: #fff9; }
span.ser_div { position: fixed; bottom: -1.4em; background-color: #fff9; }
div#plot_details { margin-top: 1em; }
#plotobs_container h3 { margin-top: 0; }
#plotobs_container th { text-align: right; vertical-align: top; }
{% for op in operators %}
.operator-{{ op.pk }} { border: 4px solid {% cycle 'cyan' 'green' 'greenyellow' 'hotpink' 'indigo' 'violet' %}}
{% endfor %}
</style>
<script>

var map = null;
var pointsLayer = null, clusterLayer = null;

function getCSRFToken() {
    return document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];
}

function snapCoordsToGrid(coords) {
    coords = L.TileLayer.Swiss.project_2056(coords);
    return L.TileLayer.Swiss.unproject_2056({
        x: Math.round(coords.x / 100) * 100,
        y: Math.round(coords.y / 100) * 100
    });
}

function onPlotClick(evt) {
    const plotobsContainer = document.querySelector('#plotobs_container');
    const targetURL = evt.layer.feature.properties.url;
    document.querySelector('#multi-edit-div').classList.add('hidden');
    map.selectPoints([evt.layer]);
    // A feature has been selected, let's display some details about it
    plotobsContainer.style.display = 'block';
    fetch(targetURL, {headers: {'X-Partial': 'true'}}).then(resp => resp.text()
        ).then(html => {
            plotobsContainer.innerHTML = html;
            htmx.process(plotobsContainer);
            // Now get parcelle info
            map.getFeatureInfo(evt, 'vd.bien_fond').then(data => {
                document.getElementById('parc-designation').textContent = data.features[0].properties["Désignation"];
                document.getElementById('parc-no').textContent = data.features[0].properties.N;
                const rf_url = data.features[0].properties["LienRF"];
                document.getElementById('parcellaire').classList.remove('hidden');
                if (rf_url == "DP non disponible au registre foncier") {
                    document.getElementById('parcellaire-inconnu').classList.remove('hidden');
                } else {
                    document.getElementById('parcellaire-inconnu').classList.add('hidden');
                    // We cannot directly query www.rfinfo.vd.ch as the response has no CORS.
                    // http://www.rfinfo.vd.ch/rfinfo.php?no_commune=5871&amp;&no_immeuble=1390
                    let no_comm = /no_commune=(\d+)/.exec(rf_url)[1];
                    let no_imm = /no_immeuble=(\d+)/.exec(rf_url)[1];
                    fetch('/rfinfo/?no_commune=' + no_comm + '&no_immeuble=' + no_imm).then(
                        resp => resp.json()
                    ).then(json => {
                        document.getElementById('parc-owner').textContent = json.owners.join(', ');
                        document.getElementById('parc-genre').textContent = json.genre;
                    });
                }
            });
        });
}

var onMultiSelected = function() {
    const plotobsContainer = document.querySelector('#plotobs_container');
    plotobsContainer.innerHTML = `${map.selectedPoints.length} points sélectionnés.`;
    document.querySelector('#multi-edit-div').classList.remove('hidden');
    document.querySelector('#multi-edit').reset();
    document.querySelector('input[name="point_ids"]').value = map.selectedPoints.map(pt => pt.feature.id).join(',');
}

document.addEventListener("DOMContentLoaded", function(event) {
    map = new GeoMap('map', {withLasso: true, lassoSelected: onMultiSelected, gridLayer: true});
    const map_div = document.getElementById('map');
    map.addLayerFromURL(map_div.dataset.src, {
        clustered: true,
        clickHandler: onPlotClick,
        pointFunction: function (feature, latlng) {
            let textContent = '<span class="owner hidden">' + feature.properties.owner + '</span>';
            textContent += '<span class="ser_div hidden">' + (feature.properties.serie || '-') + (feature.properties.division || '-') + '</span>'
            let classes = ['custom-icon', 'icon-blue'];
            if (feature.properties.operator) classes.push(`operator-${feature.properties.operator}`);
            const myIcon = L.divIcon({
                iconSize: new L.Point(20, 20),
                className: classes.join(' '),
                html: textContent
            });
            return L.marker(latlng, {icon: myIcon});
        }
    }).then(lyrs => {
        map.map.fitBounds(lyrs[1].getBounds());
        pointsLayer = lyrs[0];
        clusterLayer = lyrs[1];
    });
    // Add Topap layer
    topapLayer = map.addLayerFromURL(map_div.dataset.topap, {initial: 'hidden'}).then(layer => {
        map.layerControl.addOverlay(layer, 'Topap');
        layer.eachLayer(function (lay) {
            const props = lay.feature.properties;
            lay.bindPopup(`${props.triage}, P: ${props.owner}<br>S: ${props.serie}, D: ${props.division}`);
        });
    });
    const ownerCB = document.getElementById('disp-owner');
    ownerCB.addEventListener('click', function(ev) {
        ev.stopPropagation();
        document.querySelectorAll('span.owner').forEach(span => {
            if (ev.target.checked) span.classList.remove('hidden');
            else span.classList.add('hidden');
        });
    });
    const serdivCB = document.getElementById('disp-ser_div');
    serdivCB.addEventListener('click', function(ev) {
        ev.stopPropagation();
        document.querySelectorAll('span.ser_div').forEach(span => {
            if (ev.target.checked) span.classList.remove('hidden');
            else span.classList.add('hidden');
        });
    });
    map.map.on('zoomend', ev => {
        // setTimeout because I don't know how to catch end of unclustering event.
        setTimeout(() => {
            if (ownerCB.checked) document.querySelectorAll('span.owner').forEach(span => span.classList.remove('hidden'));
            if (serdivCB.checked) document.querySelectorAll('span.ser_div').forEach(span => span.classList.remove('hidden'));
        }, 500);
    });

    document.getElementById('btn-add-point').addEventListener('click', (ev) => {
        ev.preventDefault();
        const newCoords = snapCoordsToGrid(map.map.getCenter());
        const marker = L.marker(newCoords, {draggable: true});
        marker.addTo(map.map);
        marker.on('dragend', ev => {
            const marker = ev.target;
            const position = marker.getLatLng();
            const newCoords = snapCoordsToGrid(position)
            marker.setLatLng(newCoords);
            const swiss = L.TileLayer.Swiss.project_2056(newCoords);
            document.getElementById('newp-latitude').innerText = Math.round(swiss.x);
            document.getElementById('newp-longitude').innerText = Math.round(swiss.y);
        });
        document.querySelector('#plotobs_container').innerHTML = (
            '<div id="planned-details" class="flex-child">' +
            '<p></p><b>Coordonnées:</b> <span id="newp-latitude"></span>, <span id="newp-longitude"></span></p>' +
            '<button id="btn-confirm-point">Confirmer le nouveau point</button>' +
            '<button id="btn-cancel-point">Annuler le nouveau point</button></div>'
        );
        const swiss = L.TileLayer.Swiss.project_2056(newCoords);
        document.getElementById('newp-latitude').innerText = Math.round(swiss.x);
        document.getElementById('newp-longitude').innerText = Math.round(swiss.y);
        document.getElementById('btn-confirm-point').addEventListener('click', ev => {
            const url = document.getElementById('btn-add-point').href;
            const formData = new FormData();
            formData.append('latitude', document.getElementById('newp-latitude').innerText);
            formData.append('longitude', document.getElementById('newp-longitude').innerText);
            // Send new point to server
            fetch(url, {
                    headers: {'X-CSRFToken': getCSRFToken()}, method: 'POST', body: formData
                }).then(resp => resp.json()).then(data => {
                let position = marker.getLatLng();
                map.map.removeLayer(marker);
                // Add the new point to the layer as a "regular" point
                pointsLayer.addData([data.feature]);
                // clusterLayer doesn't link to the initial geoJSON layer, re-create it after
                // adding a new point.
                clusterLayer.clearLayers();
                clusterLayer.addLayer(pointsLayer);
            });
        });
        document.getElementById('btn-cancel-point').addEventListener('click', ev => {
            ev.preventDefault();
            document.getElementById('plotobs_container').innerHTML = '';
            map.map.removeLayer(marker);
        });
    });
    document.getElementById('plotobs_container').addEventListener('click', function (ev) {
        if (ev.target.id == 'remove-from-inv' && confirm("Voulez-vous vraiment retirer ce point de l’inventaire ?")) {
            ev.preventDefault();
            // Send info to server
            const curLayer = map.selectedPoints[0];
            const removeURL = curLayer.feature.properties.url + 'delete/';
            fetch(removeURL, {
                    headers: {'X-Partial': 'true', 'X-CSRFToken': getCSRFToken()},
                    method: 'POST'
                }).then(resp => {
                // Remove marker from the map
                map.map.removeLayer(curLayer);
                pointsLayer.removeLayer(curLayer);
                map.selectedPoints = [];
                document.querySelector('#plotobs_container').innerHTML = '';
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}
<h2>{{ protocol }}</h2>

<div class="flex-container">
    <div class="flex-child">
        <div><b>Année :</b> {{ protocol.year }}</div>
        <div><b>Période :</b> {{ protocol.inv_date }}</div>
        <div><b>Nbre de placettes :</b> {{ protocol.nb_plots }}</div>
        <div><b>Analyses compl. :</b> <ul>{% for voc in protocol.get_vocabs %}<li>{{ voc }}</li>{% endfor %}</ul></div>
        {% if protocol.comments %}<div><b>Remarques :</b> {{ protocol.comments|linebreaksbr }}</div>{% endif %}
    </div>

    <div class="owner flex-child">
        <b>Propriétaires :</b>
        <ul class="owner">
            {% for owner, cnt in owners.items %}
            <li><a href="{% url 'entity' 'owner' owner.pk %}">{{ owner }}</a> ({{ cnt }})</li>
        {% empty %}
            {% if not owners_none %}-{% endif %}
        {% endfor %}
            {% if owners_none %}<li><i>Sans propriétaire ({{ owners_none }})</i></li>{% endif %}
        </ul>
    </div>
</div>
<div style="text-align: right;">
    <a class="btn" id="btn-add-point" href="{% url 'plotobs_planned_new' protocol.pk %}">Ajouter un point sur la carte</a>
    <a class="btn" href="{% url 'protocole_import' protocol.pk %}">Importer des placettes</a>
    <a class="btn" href="{% url 'protocole_edit' protocol.pk %}">Modifier</a>
</div>

{% if protocol.nb_plots > 0 %}
<div id="map" class="map" data-src="{% url 'protocole_plots' protocol.pk %}"
     data-topap="{% url 'topapp-layer' protocol.pk %}">
    <div id="map-display">
        <b>Affichage</b><br>
        <input type="checkbox" id="disp-owner"> <label for="disp-owner">Propriétaire</label><br>
        <input type="checkbox" id="disp-ser_div"> <label for="disp-ser_div">Série/division</label>
    </div>
</div>
{% endif %}

<div id="plotobs_container"></div>

<div id="multi-edit-div" class="hidden">
    {% include 'partial/plotobs_planned_form_multi.html' %}
</div>

{% endblock %}
