{% load l10n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Saisie inventaires VD-Forêts</title>
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/Leaflet.PolylineMeasure.css' %}" type="text/css" media="all" />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/proj4-2.4.3.js' %}"></script>
    <script src="{% static 'js/proj4leaflet-1.0.1.js' %}"></script>
    <script src="{% static 'js/pouchdb-6.4.3.min.js' %}"></script>
    <script src="{% static 'js/L.TileLayer.PouchDBCached.js' %}"></script>
    <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
    <script src="{% static 'js/Leaflet.PolylineMeasure.js' %}"></script>
    <script src="{% static 'js/Leaflet.MetricGrid.js' %}"></script>
    <script src="{% static 'js/progressbar.min.js' %}"></script>
    <script>
        var verbose_names = {
            {% for key, val in verbose_names.items %}{{ key }}: '{{ val }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
        };
        var sync_url = "{% url 'sync' %}";
        var staticImages = {
            tree: "{% static 'img/tree.svg' %}",
            treeDead: "{% static 'img/tree-dead.svg' %}",
            treeCut: "{% static 'img/tree-cut.svg' %}",
            treeTodo: "{% static 'img/tree-todo.svg' %}",
            treeSpecial: "{% static 'img/tree-special.svg' %}",
            currentPos: "{% static 'img/currentpos.svg' %}"
        };
        var slopeMapping = {
            {% localize off %}{% for key, val in slope_mapping.items %}{{ key }}: {{ val }}{% if not forloop.last %},{% endif %}
            {% endfor %}{% endlocalize %}
        };
    </script>
  </head>

  <body>
  <div id="inventory-choice-div">
    <form id="inventory-form">
        <p>Choisir l’inventaire de travail:</p>
        <p><select id="inventory-choice" data-url="{% url 'inventory-list' %}">
            <option value="">--------</option>
        </select></p>
        <p><input id="inventory-ok" type="submit" value="OK"></p>
    </form>
  </div>

  <div id="main-container">
    <div id="left-pane">
        <div id="layer-icons">
            <img id="baselayer" class="pane-icon" src="{% static 'img/satellite.png' %}"
                 title="Vue plan ou orthophoto"
                 data-toggleimg="{% static 'img/plan.png' %}"><br>
            <img id="tocurrent" class="pane-icon" src="{% static 'img/tocurrent.png' %}"
                 title="Aller à ma position actuelle">
            <img id="toinventory" class="pane-icon" src="{% static 'img/toinventory.png' %}"
                 title="Vue d'ensemble de l'inventaire">
        </div>
        <div id="pane-icons">
            <div id="unsync-counter" title="Nombre d'objets non synchronisés"></div>
            <img id="sync-unsync" class="pane-icon" src="{% static 'img/un-sync.svg' %}"
                 title="Synchronisation des données locales/distantes"><br>
            <img id="network-status" class="pane-icon" src="{% static 'img/online.svg' %}"
                 title="Statut en ligne/hors ligne"
                 data-toggleimg="{% static 'img/offline.svg' %}">
        </div>
    </div>

    <div id="map-container">
        <div id="map-div">map</div>
        <div id="undermap-div">
            <div id="undermap-back">
                <button id="gemeinde-back" title="Retour à la vue d’ensemble des placettes">
                    <img src="{% static 'img/back.svg' %}">
                </button>
            </div>
            <div id="undermap-data">
                <div>
                    <b>Commune:</b> <span id="undermap-commune">-</span>
                </div>
                <div>
                    <b>Coordonnées:</b> <span id="undermap-coords">-</span>
                    <div id="coords_warning" class="warning">
                        Votre position est actuellement à plus de 50m des coordonnées théoriques de cette placette.
                    </div>
                </div>
            </div>
            <table id="plot-data">
                <tr><th>Propriétaire:</th><td id="plot-owner" colspan="3"></td></tr>
                <tr><th>Densité:</th><td id="plot-density" colspan="3"></td></tr>
                <tr><th>Série:</th><td id="plot-ser-num"></td>
                    <th>Division:</th><td id="plot-div-num"></td></tr>
            </table>
        </div>
    </div>

    <div id="infos-div">
        <div id="inventory-title"></div>

        <div id="error"></div>

        <div id="year-buttons"></div>

        <div id="obs-data">
            <div id="obs-tabs">
                <ul class="tabs">
                    <li class="active" data-target="obs-infos-general">Général</li>
                    <li data-target="obs-infos-trees">Arbres</li>
                </ul>
            </div>
            <div id="obs-infos-general" class="tab-child">
                <table id="obs-infos-general-table" class="collapse"></table>
            </div>
            <div id="obs-infos-trees" class="tab-child">
                <table id="obs-infos-trees-table" class="collapse"></table>
            </div>
        </div>

        <div id="obs-input">
            <div id="step0">
                <p>Nouvel inventaire pour cette placette</p>
                <form><input id="input-start" type="button" value="Commencer"></form>
            </div>

            <form id="allsteps"><select id="allstepsselect">
                <option value="1">Étape 1</option>
                <option value="2" disabled>Étape 2</option>
                <option value="3" disabled>Étape 3</option>
                <option value="4" disabled>Étape 4 - Dégats du gibier</option>
                <option value="5" disabled>Étape 5 - Coordonnées réelles</option>
                <option value="6" disabled>Étape 6 - Remarques</option>
                <option value="1000" disabled>Confirmation finale</option>
            </select></form>

            <form id="step1" class="input-form" data-step="1">
                {% for hidden in po_form.hidden_fields %}{{ hidden }}{% endfor %}
                <table class="form-table">
                    {% for field in po_form.step1_fields %}
                    <tr id="tr_{{ field.name }}">
                        <th>{{ field.label_tag }}</th>
                        <td>{{ field }}
                            {% if field.field.can_be_locked %}
                            <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                 data-toggleimg="{% static 'img/unlocked.svg' %}"
                                 title="Cliquez pour déverrouiller si vous devez vraiment modifier cette valeur">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div id="step1-verification">
                    <div class="step1-input">
                        <input type="radio" name="verif_step1" id="verifok" value="ok"> <label for="verifok">Ces données me paraissent en ordre</label>
                    </div>
                    <div class="step1-input">
                        <input type="radio" name="verif_step1" id="verifnotok" value="notok"> <label for="verifnotok">Ces données comportent des erreurs</label>
                    </div>
                    <div id="step1-remarks" class="hidden">
                        <label for="id_remarks">Indiquez la ou les erreurs détectées :</label><br>
                        {{ po_form.remarks }}
                    </div>
                </div>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step2" class="input-form" data-step="2">
                <table class="form-table">
                    {% for field in po_form.step2_fields %}
                    <tr id="tr_{{ field.name }}">
                        <th>{{ field.label_tag }}</th>
                        <td>{{ field }}
                            {% if field.field.unit %}{{ field.field.unit }}{% endif %}
                            {% if field.field.help_title %}
                                <img class="form-help" src="{% static 'img/help.svg' %}"
                                     title="{{ field.field.help_title }}" data-target="help-{{ field.name }}">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step3" class="input-form" data-step="3">
                <table class="form-table">
                    {% for field in po_form.step3_fields %}
                    <tr id="tr_{{ field.name }}"
                        {% if field.name|slice:":3" == "voc" %}class="voc_field"{% endif %}>
                        <th>{{ field.label_tag }}</th>
                        <td>{% if field.help_text %}<span class="help-text">{{ field.help_text }}</span><br>{% endif %}
                            {{ field }}
                            {% if field.field.unit %}{{ field.field.unit }}{% endif %}
                            {% if field.field.help_title %}
                                <img class="form-help" src="{% static 'img/help.svg' %}"
                                     title="{{ field.field.help_title }}" data-target="help-{{ field.name }}">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step4" class="input-form" data-step="4">
                <p>
                    Rayon de la placette pour ces mesures: <b>4 mètres</b>
                    <img class="form-help" src="{% static 'img/help.svg' %}" title="Aide sur les dégâts du gibier" data-target="gibi-content">
                </p>
                <table class="form-table">
                    {% for field_group in po_form.gibi_fields %}
                        {% for field in field_group %}
                        <tr id="tr_{{ field.name }}">
                            <th>{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                        {% if not forloop.last %}<tr><th><hr></th><td></td></tr>{% endif %}
                    {% endfor %}
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step5" class="input-form" data-step="5">
                <table class="form-table">
                    <tr id="tr_lonlat"><td colspan="2">
                      <table>
                        <tr><td colspan="3"><div id="exact_long_warning" class="warning"></div></td></tr>
                        <tr>
                            <th>{{ plot_form.exact_long.label_tag }}</th>
                            <td>{{ plot_form.exact_long }} <div id="currentLong"></div></td>
                            <td rowspan="3"><button id="keepthis">Saisir</button></td>
                        </tr>
                        <tr><td colspan="2"><div id="exact_lat_warning" class="warning"></div></td></tr>
                        <tr>
                            <th>{{ plot_form.exact_lat.label_tag }}</th>
                            <td>{{ plot_form.exact_lat }} <div id="currentLat"></div></td>
                        </tr>
                      </table>
                    </td></tr>
                    <tr id="tr_sealevel">
                        <th>{{ plot_form.sealevel.label_tag }}</th>
                        <td>{{ plot_form.sealevel }} <div id="currentAlt"></div> m</td>
                    </tr>
                    <tr id="tr_exposition">
                        <th>{{ plot_form.exposition.label_tag }}</th>
                        <td>{{ plot_form.exposition }}</td>
                    </tr>
                    <tr id="tr_relief">
                        <th>{{ po_form.relief.label_tag }}</th>
                        <td>{{ po_form.relief }}</td>
                    </tr>
                    <tr id="tr_slope">
                        <th>{{ plot_form.slope.label_tag }}</th>
                        <td>{{ plot_form.slope }}
                            <img class="locked-input" src="{% static 'img/locked.svg' %}"
                                 data-toggleimg="{% static 'img/unlocked.svg' %}">
                        </td>
                    </tr>
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="step6" class="input-form" data-step="6">
                <table class="form-table">
                    <tbody id="previous-remarks"></tbody>
                    <tbody>
                      <tr id="tr_remarks">
                        <th>{{ po_form.remarks.label_tag }}</th>
                        <td>{{ po_form.remarks }}</td>
                      </tr>
                    </tbody>
                </table>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
                </div>
            </form>

            <form id="steptree" class="input-form" data-step="7">
                {% for hidden in tree_form.hidden_fields %}{{ hidden }}{% endfor %}
                <table class="form-table">
                      <tr id="tr_species">
                          <th>{{ tree_form.spec.label_tag }}</th>
                          <td><div id="species_warning" class="warning">Attention: cette essence ne doit plus être choisie.</div>
                              {{ tree_form.spec }}
                          </td>
                      </tr>
                      <tr id="tr_diameter">
                          <th>{{ tree_form.diameter.label_tag }}</th>
                          <td>
                              {{ tree_form.diameter }}&nbsp;&nbsp;&nbsp;<i>ou</i> <label><b>Circonférence:</b></label> {{ tree_form.perim }} cm
                          </td>
                      </tr>
                </table>
                <div class="cancel">
                    <button class="cancel" id="canceltree" title="Annuler">
                        <img src="{% static 'img/cancel.svg' %}">
                    </button>
                </div>
                <div class="weiter">
                    <button type="submit" class="weiter" title="Continuer">
                        <img src="{% static 'img/okcontinue.svg' %}">
                    </button>
                    <button type="submit" class="newtree" title="nouvel arbre">
                        <span class="bigplus">+</span> <img src="{% static 'img/newtree.svg' %}">
                    </button>
                </div>
            </form>

            <form id="stepfinal" class="input-form" data-step="99">
                <div class="weiter">
                    <button type="submit" class="newtree" title="nouvel arbre">
                        <span class="bigplus">+</span> <img src="{% static 'img/newtree.svg' %}">
                    </button>
                </div>
                <hr>
                <h2>Arbres</h2>
                <table id="trees_summary" class="collapse">
                    <thead>
                        <tr><th>N°</th><th>Essence</th><th>Diam.</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <template id="tree_row">
                <tr>
                    <td class="record"></td>
                    <td class="essence"></td>
                    <td class="diameter"></td>
                </tr>
                </template>

                <p>L’inventaire de cette placette est maintenant terminé.</p>
                <input id="input-end" type="button" value="Terminer">
            </form>
            <div id="caliper-disconnected" class="caliper hidden">
                Aucune pince Bluetooth connectée.
                <button id="caliper-connect" type="button">Connecter</button>
            </div>
            <div id="caliper-connected" class="caliper hidden">
                Une pince Bluetooth est actuellement connectée.
                <button id="caliper-disconnect" type="button">Déconnecter</button>
            </div>
        </div><!-- obs-input -->
    </div><!-- infos-div -->
    <div id="progress"></div>
    <div id="appversion"></div>
  </div><!-- main-container -->

  <div id="debug-pane">
    <div id="debug-buttons">
      <span data-target="debug-pane" class="modal-close close">&times;</span>
      <img id="debug-reload" src="{% static 'img/back.svg' %}" title="Force reload">
    </div>
    <div id="debug-messages"></div>
  </div>

  <div id="modal-div" class="modal hidden">
    <div class="modal-content">
      <span data-target="modal-div" class="modal-close close">&times;</span>
      <div id="gibi-content" class="help hidden">
          {% include 'mobile/gibier.html' %}
      </div>
      {% for field_name, field_help in po_form.help_content.items %}
      <div id="help-{{ field_name }}" class="help hidden">
          {% include field_help.template %}
      </div>
      {% endfor %}
      <div id="loading" class="help hidden">
          <img src="{% static 'img/indicator.gif' %}" alt="Chargement en cours"><br>
          Chargement en cours...
      </div>
    </div>
  </div>

  <script src="{% static 'js/application.js' %}"></script>
  <script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/serviceworker.js", {scope: './'})
            .then(function() { console.log("Service Worker Registered"); });
    }
  </script>
  </body>
</html>
