{% extends "base.html" %}

{% block extra_head %}
<style>
    div.fbase-diff { font-family: monospace; margin-bottom: 1em; }
    span.diff { color: red; }
</style>
{% endblock %}

{% block content %}

<h2>Contrôle des chaînes FBase</h2>

<p>Fichier COR: <a href="{{ imp.ifile.url }}">{{ imp.ifile }}</a></p>
<p>Points importés: {{ imp.plotobs_set.count }}</p>
<p>Points avec erreurs non importés: {{ imp.errors.count }}</p>

<h3>Comparaisons FBase:</h3>
{{ imp.fbase_check.identical }} chaînes identiques{% if not imp.fbase_check.different %}, parfait !{% endif %}
{% if imp.fbase_check.different %}
    <br>{{ imp.fbase_check.different|length }} chaîne(s) différente(s):
    {% for diff in imp.fbase_check.different %}
    <div class="fbase-diff">
        <div>AME: {{ diff.0|safe }}</div>
        <div>Our: {{ diff.1|safe }}</div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
