{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<style type="text/css">
table#frm th { width: 25%; text-align: right; vertical-align: top; }
table#interv input { width: 300px; }
legend { font-weight: bold; }
div.vocabulary { font-size: x-small; color: #666; }
div.vocabulary p { margin: 0; }
ul.errors { list-style-type: none; }
ul.errors li { margin-bottom: 1em; border: 1px solid #ccc; }
div.context_line { font-family: monospace; color: #777; font-style: italic; }
span.error { color: red; }
div.error_location { background-color: #eee; padding: 5px; }
div.error_details { padding: 5px; }
span.raw_line { font-family: monospace; }
span.help_text { color: #aaa; font-style: italic; font-size: small; }
</style>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script>
$(document).ready(function() {
    $("select#id_vocab_pos16, select#id_vocab_pos17, select#id_vocab_posd6, select#id_vocab_posd7").on('change', function() {
        // When a vocabulary is selected, display its values in a div
        var field_name = this.id.slice(3);
        if (this.value == "")
            $("div#" + field_name + "_details").html("");
        else
            $("div#" + field_name + "_details").load("/vocabulary/" + this.value + "/");
    });
});
</script>
{% endblock %}

{% block content %}
<h2>Formulaire d'importation de données</h2>

{% if form.instance.pk and not form.instance.imported %}
<p style="color: red">Ce fichier n'a pas été importé car il contient <a href="#errors">des erreurs</a>.</p>
{% endif %}

<form method="POST" enctype="multipart/form-data" action=".">{% csrf_token %}
  <table id="frm">
  <tr><th>Fichier à importer :</th><td>{{ form.ifile.errors }}{{ form.ifile }}</td></tr>
  <tr><th>{{ form.year.label_tag }}</th><td>{{ form.year.errors }}{{ form.year }}</td></tr>
  <tr><td></td><td>{{ form.cont_on_error }} {{ form.cont_on_error.label }}</td></tr>
  </table>
  <p><input type="submit" value="Importer"></p>

{% if form.error_fset %}
  <h2 style="color: red"><a name="errors">Erreurs</a></h2>
  {{ form.error_fset.management_form }}
  <ul class="errors">
  {% for errform in form.error_fset %}
    <li>
        <div class="error_location">Ligne {{ errform.instance.no_line }}: {{ errform.instance.message }}</div>
        <div class="error_details">
            {% for ctxt in errform.instance.context.before %}
                <div class="context_line">{{ ctxt }}</div>
            {% endfor %}
            <span class="raw_line">{{ errform.instance.get_raw_line|safe }}</span><br>
            {{ errform.fixed.errors }}Correction: {{ errform.fixed }} <span class="help_text">{{ errform.fixed.help_text }}</span>
            {% for ctxt in errform.instance.context.after %}
                <div class="context_line">{{ ctxt }}</div>
            {% endfor %}
        </div>
        {{ errform.id }}
    </li>
  {% endfor %}
  </ul>
{% endif %}

</form>
{% endblock %}
