{% extends "base.html" %}
{% load display %}

{% block extra_head %}
<style>
  table th { text-align: left; background-color: #ddd; }
  table th, table td { padding: 5px; }
  table tr.imported { background-color: #B8F6B8; }
  table tr.imported_with_errors { background-color: #FFE09A; }
  table tr.not_imported { background-color: #FFABB2; }
  table td.fbase-hasdiff { background-color: #FFE09A; }
</style>
{% endblock %}

{% block content %}
<ul>
  <li><a href="{% url 'import' 0 %}">Importer un nouveau fichier</a></li>
</ul>

<h2>Liste des fichiers importés</h2>
<table width="100%">
  <tr>
      <th>Fichier</th><th>Protocole</th><th>Importé ?</th><th>Succès</th><th>Erreurs</th><th></th><th>Ctrl FBase</th>
  </tr>
{% for item in object_list %}
  <tr class="{{ item.status }}">
      <td><a href="{{ item.ifile.url }}">{{ item.ifile|basename }}</a> ({{ item.year }})</td>
      <td>
          {% for prot_pk in protocols|getitem:item.pk %}
            <a href="{% url 'protocole_edit' prot_pk %}">{{ prot_pk }}</a> {% empty %}-
          {% endfor %}
      </td>
      <td>{{ item.imported|yesno:"Oui,Non" }}</td>
      <td>{{ item.succ }}</td>
      <td>{{ item.errs }}</td>
      <td><a href="{% url 'import' item.pk %}">Réimporter</a></td>
      <td {% if item.fbase_check and item.fbase_check.different %}class="fbase-hasdiff"{% endif %}>
          <a href="{% url 'checkfbase' item.pk %}">
          {% if item.fbase_check %}
            OK: {{ item.fbase_check.identical }}
            {% if item.fbase_check.different %}<br>Diff: {{ item.fbase_check.different|length }}{% endif %}
          {% else %}??{% endif %}
          </a>
      </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
