{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if form.errors %}
<p class="errors">Le nom d’utilisateur et le mot de passe ne correspondent pas. Veuillez réessayer.</p>
{% endif %}

<form id="login-form" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}
        <a style="margin-left:3em; font-size:small;" href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
    </td>
</tr>
<tr>
    <td></td><td><input type="submit" value="{% trans "Log in" %}"></td>
</tr>
</table>
<input type="hidden" name="next" value="{{ next }}">
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

{% endblock %}


